* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: bold;
}

.main-container {
    padding: 15px;
    width: 450px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

#result-container {
    padding-right: 10px;
    font-size: 2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: end;
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(53, 47, 47);
}

button {
    border-color: rgb(145, 145, 244);
    background-color: rgb(174, 165, 165);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.equal {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
}

.equal > button {
    background-color: rgb(205, 116, 116);
    border-bottom-right-radius: 10px;
}

.symbol-style > button {
    background-color: rgb(124, 124, 168);
}

.number-0 > button {
    border-bottom-left-radius: 10px;
}