* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    margin: 20px;
    background-color: rgb(69, 63, 114);
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;
    border: 1px solid red;
    border-radius: 10px;
}

.result-container {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: rgb(40, 45, 45);
    grid-column-start: 1;
    grid-column-end: 5;
}

.plus {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.equal {
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    border-bottom-right-radius: inherit;
}

.main-container > div {
    background-color: burlywood;
}